.react-md-container {
  font-family: Helvetica Neue, sans-serif;
}

.react-md-textarea {
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  height: 15em;
  border: 1px solid #ddd;
  border-bottom: 1px dashed #ddd;
  border-radius: 2px;
}

.react-md-toolbar {
  font-size: 9pt;
  height: 29px;
  margin-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

div.react-md-tab {
  background: #fff;
}

div.react-md-tab button {
  margin: 2px;
  margin-top: 0;

  border-top-left-radius: 2px; 
  border-top-right-radius: 2px; 
  border: none;
  border-bottom: 1px solid #ddd;

  background: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  height: 30px;
  min-width: 5em;
}

div.react-md-tab button:first-child {
  margin-left: 0;
}

div.react-md-tab button.active {
  border: 1px solid #ddd;
  border-bottom: none;
  box-shadow: 4px 0 8px -4px #ddd, -4px 0 8px -4px #ddd;
}

.react-md-toolbar-item {
  line-height: 30px;
}

.react-md-toolbar-button {
  width: 25px;
  border: none;
  background: inherit;
  cursor: pointer;
  padding: 4px;
  margin-left: 7px;
  border-radius: 2px;
}

.react-md-toolbar-button:hover {
 box-shadow: 0 1px 10px #ddd;  
}

.react-md-preview-area {
  padding-top: 1em;
  border-top: 1px solid #ddd;
}

.dropzone-wrap .remove-btn {
  cursor: pointer;
  color: #2196f3;
}

.dropzone-wrap .dropzone-info {
  background: #f7f7f7;
  color: #92a1ad;
  font-size: 11px;
  margin: 0;
  margin-top: -3px;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.icon {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  stroke-width: 0;
  stroke: #545454;
  fill: #545454;
}


.react-md-toolbar-dropdown-button {
  padding: 4px 0;
}

.react-md-toolbar-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.react-md-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  padding: 10px 16px;
  margin-top: 2px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

.react-md-dropdown ul {
  margin: 0;
  padding: 0;
}

.react-md-dropdown ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-md-dropdown-option {
  cursor: pointer;
}

.react-md-dropdown-option:hover {
  color: #020298;
}

.react-md-header-1 {
  font-weight: bold;
  font-size: 22px;
}

.react-md-header-2 {
  font-weight: bold;
  font-size: 18px;
}

.react-md-header-3 {
  font-weight: bold;
  font-size: 15px;
}
